# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.lot
*.lof
missfont.log

# LaTeX auxiliary files in subdirectories
latex/*.aux
latex/*.log
latex/*.out
latex/*.toc
latex/*.fdb_latexmk
latex/*.fls
latex/*.synctex.gz
latex/*.bbl
latex/*.blg
latex/*.idx
latex/*.ind
latex/*.ilg
latex/*.lot
latex/*.lof
latex/missfont.log